## Table of contents

### 01. Import Data and Libraries

### 02.Aggregating Loyalty flag and average days since prior order

### 01. Import Data and Libraries

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [2]:
# Define path
path = r'C:\Users\iryna\Documents\Data analytics\Career foundry\4. Python\06-2022 Instacart Basket Analysis'

In [3]:
# Import Data
ords_prods = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_regions_final.pkl'))

In [4]:
ords_prods.shape

(32404859, 35)

In [5]:
ords_prods.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32404859 entries, 0 to 32404858
Data columns (total 35 columns):
 #   Column                         Dtype
---  ------                         -----
 0   order_id                       int32
 1   user_id                        int32
 2   order_number                   int8
 3   order_day_of_week              int8
 4   order_time_of_day              int8
 5   days_since_prior_order         float16
 6   product_id                     float16
 7   add_to_cart_order              float16
 8   reordered                      float16
 9   product_name                   object
 10  aisle_id                       int32
 11  department_id                  int32
 12  prices                         float16
 13  _merge                         category
 14  price_range_loc                object
 15  busiest day                    object
 16  busiest days                   object
 17  busiest_period_of_day          object
 18  max_order                      int8
 19  loyalty_flag                   object
 20  avg_price_spent                float16
 21  spender_flag                   object
 22  median_days_since_prior_order  float16
 23  order_frequency_flag           object
 24  gender_identity                object
 25  state                          object
 26  age                            int32
 27  date_joined                    object
 28  dependants_#                   int32
 29  marital_status                 object
 30  income                         int32
 31  age_group                      object
 32  income_level                   object
 33  profile                        object
 34  region                         object
dtypes: category(1), float16(7), int32(7), int8(4), object(16)
memory usage: 5.5+ GB

In [6]:
#Checking the dataframe
pd.options.display.max_columns = None
ords_prods.head()

,order_id,user_id,order_number,order_day_of_week,order_time_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest day,busiest days,busiest_period_of_day,max_order,loyalty_flag,avg_price_spent,spender_flag,median_days_since_prior_order,order_frequency_flag,gender_identity,state,age,date_joined,dependants_#,marital_status,income,age_group,income_level,profile,region
0,2539329,1,1,2,8,NaN,196.0,1.0,0.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367188,Low spender,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,Young,Middle,Single parent,South
1,2398795,1,2,3,7,15.0,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Least busy,Average orders,10,New customer,6.367188,Low spender,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,Young,Middle,Single parent,South
2,473747,1,3,3,12,21.0,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Least busy,Most orders,10,New customer,6.367188,Low spender,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,Young,Middle,Single parent,South
3,2254736,1,4,4,7,29.0,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy,Average orders,10,New customer,6.367188,Low spender,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,Young,Middle,Single parent,South
4,431534,1,5,4,15,28.0,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy,Most orders,10,New customer,6.367188,Low spender,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,Young,Middle,Single parent,South

### 02.Aggregating Loyalty flag and average days since prior order

In [8]:
ords_prods.groupby('loyalty_flag').agg({'days_since_prior_order': ['mean']})

                 days_since_prior_order
                                   mean
loyalty_flag
Loyal customer                 6.027344
New customer                  17.984375
Regular customer              12.156250